/* used to generate the main navbar */
.navbaritems {
  position: absolute;
  background: #000000ee;
  height: 0.92in;
  display: flex;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;
}

/* used for the HoopsData text logo */

.logopic {
  display: inline-flex;
  align-items: center;
  margin-left: 1%;
}

/* used to make the list in the laptop view */
.navmenu {
  display: grid;
  grid-template-columns: repeat(10, auto);
  list-style: none;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0.3in;
}

/* used to format the text that shows in the menu */
.links {
  color: #ff2b2b;
  font-size: 166%;
  padding: 0.35in;
  text-decoration: none;
  border: none;
  background-color: transparent;
}


/* used to create the hover animation on the links */
.links:hover {
  background-color: #ff2b2b;
  color: #ededed;
  transition: 0.02ms;
}


@media screen and (max-width: 700px) {
  .logopic {
    display: none;
  }

  .links:hover {
    color: #ff2b2b;
    background-color: black;
    transition: 0.02ms;
  }
}